body {
    line-height:125%;
}

h1 {
    text-align:center;
}

#repositories {
    margin:50px auto;
    font-size:1.2em;
}

table {
    border:1px whitesmoke solid;
    padding:20px;
}

td, th {
    padding:10px;
}

th {
    text-align:center;
}

#byline {
    position:absolute;
    bottom:10px;
    right:0;
    margin-right:20px;
}
