<!DOCTYPE html>
<html>
<head>
    <title>7Geese Repositories</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/layout.css">
</head>
<body>
<h1>The Repositories of 7Geese</h1>

<table id="repositories" class="table-striped table-hover">
    <thead>
        <th>Repository Name</th>
        <th>Language</th>
        <th>Forks</th>
        <th>Date Created</th>
    </thead>
    <tbody></tbody>
</table>

<div id="byline">
    By Kyle Valade
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/js/lib/underscore.js"></script>
<script src="/js/lib/backbone.js"></script>

<!-- I would normally use require.js here... -->
<script src="/js/models/Repository.js"></script>
<script src="/js/collections/Repositories.js"></script>
<script id="repositoryTemplate" type="text/template">
    <td><a href="<%= html_url %>"><%= readableName %></a></td>
    <td><%= language %></td>
    <td><%= forks_count %> forks</td>
    <td><%= readableDate %></td>
</script>
<script src="/js/views/RepositoryView.js"></script>

<script>
$(function() {
    var repos = new Repositories();
    repos.fetch().then(function () {
        repos.each(function(repo) {
            var view = new RepositoryView({model: repo});
            view.render();
        })
    });
});
</script>
</body>
</html>
